body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-color: rgb(10, 247, 196);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form {
  background-color: rgb(255, 252, 252);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  margin: 10px;
}

.input {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  box-sizing: border-box;
  font-size: 25px;
  padding: 10px;
  border: solid 4px rgb(114, 208, 114);
  color: green;
}

.input::placeholder {
  color: rgb(136, 125, 125);
  font-family: cursive;
}

.btn {
  background-color: rgb(78, 207, 110);
  color: white;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 25px;
  padding: 1px;
  font-size: 20px;
  margin-top: 5px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn:hover {
  filter: brightness(0.9);
}

.score {
  color: green;
  text-align: right;
  font-size: 18px;
}
